* {
  box-sizing: border-box;
  margin: 0px; }

html {
  height: 100vh;
  padding: 10px;
  background-color: #833ab4; }

body {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

body > div {
  background-color: white; }

.green-btn {
  cursor: pointer;
  background-color: #70d279;
  border-radius: 50px;
  font-size: 100%;
  border: none;
  transition: all 0.2s;
  padding: 0.5rem; }

.green-btn:hover {
  background-color: #35a740; }
