body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #004d4d;
  color: #b3ffff; }
  body div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw; }
