@import 'variables.scss';

*{

	box-sizing:border-box;
	margin:0px; // margin is not part of box-sizing, so it can mess with desired layout when trying to get everything to fit on a single page.
}
html{

	height:100vh;
	padding:10px;
	background-color: $bg-color-1;
}
body{
	background-color: $bg-color-2;
	border-radius:10px;
	height:100%;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body>div{
	background-color: $bg-color-2;
}
