{% from "timer.html" import timer %}
{% extends "skeleton.html"%}
{% block head %}
<title>Game {{game_id}}</title>
<link rel="stylesheet" href="/static/css/game.css">
{% endblock %}
{% block body %}

<div id="question-text"><h3>{{ question['text'] }}</h3></div>
<h4 style="text-align:center;margin-bottom:1rem;">{{timer(5, False)}}</h4>

<form onsubmit="console.log('submitted')" id="question-form">

	<input type="hidden" name="answer" id="answer" value=""/>

	<div class="multi-choice" id="multi-choice-A" onclick="setAnswer('A')">{{question['A']}}</div>

	<div class="multi-choice" id="multi-choice-B" onclick="setAnswer('B')">{{question['B']}}</div>

	<div class="multi-choice" id="multi-choice-C" onclick="setAnswer('C')">{{question['C']}}</div>

	<div class="multi-choice" id="multi-choice-D" onclick="setAnswer('D')">{{question['D']}}</div>

	<button type="button" disabled="true" onclick="submitAnswer();updateManager();" >Submit</button>
</form>


<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<script>
	let game_id = {{game_id}}
	let socket = io.connect('/'); //needs to come before cookieFunctions
</script>
<script src="/static/javascript/cookieFunctions.js"></script>
<script src="/static/javascript/userCookie.js"></script>
<script>
    let question_form = document.getElementById('question-form')
    let btn = question_form.getElementsByTagName('button')[0]

    socket.on('connect_error', function() {
        console.log('Error connecting, trying to reconnect');
    });

    socket.on('connect', function() {
        console.log('Connected to server');
    	socket.emit('join', {'username': username , 'room': game_id});
    });
    
    socket.on('join_room_response', function(msg) {
        console.log("Recieved join_room_response:",msg);
    });

    socket.on('refresh_order', function(msg) {
	location.reload();
        console.log("Recieved refresh order:",msg);
    });


    // if user has already submitted answer, disable form and wait for next question.

    socket.emit('check_answer_submitted',{'user_id':user_id,'game_id':game_id,'question_id':{{question['id']}}})

    // [TODO] make answer_letter update
    let update_msg = {
		    'game_id':{{game_id}},
		    'question_id':{{question['id']}},
    }

    function setAnswer(letter){
	update_msg['answer_letter'] = letter
	document.getElementById("answer").value = letter
	btn.disabled = false

	for(mc of document.getElementsByClassName('multi-choice')){
		mc.classList.remove('selected')
	}
	    selected_mc = document.getElementById(`multi-choice-${letter}`)    
	    selected_mc.classList.add('selected')
    }

    function updateManager(){
	    update_msg['username'] = username // done here to avoid race condition
	    update_msg['user_id'] = user_id // done here to avoid race condition
	    socket.emit('update_manager_request',update_msg)
	    console.log('Sent update_manager_request',update_msg)
    }

    function mainTimeRequest(){
	    // used by the timer to sync with manager on page load
	    // server returns main_time_response, which should contain the clock val in seconds.
	    socket.emit('main_time_request',game_id)
	    console.log('Sent main_time_request')
    }
    socket.on('main_time_response', function(main_time){
	    console.log('Recieved main_time_response',main_time)
    });

    function submitAnswer(){
	update_msg['user_id'] = user_id // done here to avoid race condition
	update_msg['username'] = username 

	socket.emit('submit_answer_request',update_msg)
	console.log('Sent submit_answer_request', update_msg)
	disableForm()
    }

    // [TODO] modernize
    function disableForm(timeout=false){
		for(inpt of question_form.getElementsByTagName('input')){
			inpt.disabled=true;
		}
	    for (dv of question_form.getElementsByClassName('multi-choice')){
		dv.classList.add('disabled');
		dv.onclick = "";
	    }
	    if(timeout){
		btn.outerHTML = '<p>time\'s up!</p>'
	    }else{
		btn.outerHTML = '<p>submitted</p>'

	    }
    }

    // check on refresh to see if form should be enabled or disabled
    {# TODO: gotta add something to the backend to make this more secure eventually #}
    socket.on('check_answer_submitted_response', function(msg) {
	console.log('Recieved check_answer_submitted_response:',msg)
	if(msg['bool']==true){
		disableForm()
		letter = msg['answer']
		selected_answer = document.getElementById(`multi-choice-${letter}`)
		selected_answer.classList.add('selected');
	}else{

	}
    });

    socket.on('game_completed_notification', function(msg){
	    console.log('Recieved game_completed_notification')
	    window.location = '/game-completed/{{game_id}}'
    });

</script>
{% endblock %}
