<button onclick="refreshRoom('managing {{game_id}}')">Next Question</button>
<h3><span id="answers_submitted">{{answers_submitted}}</span>/<span id="num_players">{{num_players}}</span></h3>
<table id="player_table">
	<tbody>
	{% for username, answer_tf, total_correct in users %}
	<tr id="row-{{username}}">
		<td class="player-name">{{username}}</td>
		<td class="answer-tf">
			{% if answer_tf %}submitted{%else%}...{%endif%}
		</td>
		<td class="total-correct">{{total_correct}}</td>
	</tr>
	{%endfor%}
</tbody>
</table>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<script>
	var game_id = {{game_id}}
	var socket = io.connect('/'); //needs to come before cookieFunctions
</script>
<script src="/static/javascript/cookieFunctions.js"></script>
<script src="/static/javascript/userCookie.js"></script>
<script>

    function player_tr_outerHTML(playername,answer_tf,total_correct){
	    submit_status = '...'
	    if(answer_tf){submit_status = 'submitted'}
	    return `<tr id="row-${playername}">
		    <td class='player-name'>${playername}</td>
		    <td class='answer-tf'>${submit_status}</td>
		    <td class="total-correct">${total_correct}</td>
		    </tr>`
    }
    let answers_submitted = document.getElementById('answers_submitted')
    let num_players_span = document.getElementById('num_players')
    let player_table = document.getElementById('player_table')
    let player_table_body = player_table.getElementsByTagName('tbody')[0]
    let num_players = Number(num_players_span.innerText)
    let n_ans_submitted = Number(answers_submitted.innerText)
    
    socket.on('connect', function() {
        console.log('Connected to server');
    });

    socket.emit('join', {'username': username , 'room':"managing {{game_id}}"});

    socket.on('join_room_response', function(msg) {
        console.log("Recieved join_room_response:",msg);
    });
    
    function refreshRoom(room){
	socket.emit('refresh_order',{'room':room})	
	console.log('Sent refresh_order')
	n_ans_submitted = 0    
	answers_submitted.innerText = 0
	
	answer_tfs = document.getElementsByClassName('answer-tf')
	    for(answer_tf_item of answer_tfs){
		answer_tf_item.innerHTML="..."
	    }
    }

    socket.on('update_manager_response', function(msg){
	    n_ans_submitted = n_ans_submitted + 1
	    answers_submitted.innerText = String(n_ans_submitted)
	    console.log('Recieved update',msg)
	    player_row = document.getElementById(`row-${msg['username']}`)
	    answer_tf = player_row.getElementsByClassName('answer-tf')[0]
	    answer_tf.innerText = 'submitted'
	    total_correct_item = player_row.getElementsByClassName('total-correct')[0]
	    total_correct = Number(total_correct_item.innerText)
	    if(msg['correct_tf']){
	    	total_correct = total_correct + 1
	    }
	    total_correct_item.innerText = total_correct
    });

    function addPlayer(player_data){
	    num_players += 1
	    num_players_span.innerText = String(num_players)
	    player_table_body.innerHTML += player_tr_outerHTML(player_data['username'],false,0)
    }

    socket.on('player_created_notification', function(msg){
	    /* msg format:
	    	{"username":username,
		"game_id":game_id}
	     */
	    console.log('Recieved player_created_notification')
	    addPlayer(msg)
    });
</script>
