<button onclick="refreshRoom('managing {{game_id}}')">Next Question</button>
<h3><span id="answers_submitted">{{answers_submitted}}</span>/<span id="num_players">{{num_players}}</span></h3>
<ul id="player_list">
	{% for username, answer_tf in users %}

	<li><span>{{username}}</span><span id="{{username}}-answer-tf">{% if answer_tf %}submitted{%else%}...{%endif%}</span></li>
	{%endfor%}
</ul>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<script>
	var game_id = {{game_id}}
	var socket = io.connect('/'); //needs to come before cookieFunctions
</script>
<script src="/static/javascript/cookieFunctions.js"></script>
<script src="/static/javascript/userCookie.js"></script>
<script>

    function player_li_innerHTML(playername,answer_tf){
	    submit_status = '...'
	    if(answer_tf){submit_status = 'submitted'}
	    return `<li><span>${playername}</span><span id="${playername}-answer-tf">${submit_status}</span></li>`
    }
    let answers_submitted = document.getElementById('answers_submitted')
    let num_players_span = document.getElementById('num_players')
    let player_list = document.getElementById('player_list')
    let num_players = Number(num_players_span.innerText)
    let n_ans_submitted = Number(answers_submitted.innerText)
    
    socket.on('connect', function() {
        console.log('Connected to server');
    });

    socket.emit('join', {'username': username , 'room':"managing {{game_id}}"});

    socket.on('join_room_response', function(msg) {
        console.log("Recieved join_room_response:",msg);
    });
    
    function refreshRoom(room){
	socket.emit('refresh_order',{'room':room})	
	console.log('Sent refresh_order')
	n_ans_submitted = 0    
	answers_submitted.innerText = 0
    }

    socket.on('update_manager_response', function(msg){
	    n_ans_submitted = n_ans_submitted + 1
	    answers_submitted.innerText = String(n_ans_submitted)
	    console.log('Recieved update from',msg['username'])
	    answer_tf = document.getElementById(`${msg['username']}-answer-tf`)
	    answer_tf.innerText = 'submitted'
    });

    function addPlayer(player_data){
	    num_players += 1
	    num_players_span.innerText = String(num_players)
	    player_list.innerHTML = player_li_innerHTML(player_data['username'],false)
    }

    socket.on('player_created_notification', function(msg){
	    /* msg format:
	    	{"username":username,
		"game_id":game_id}
	     */
	    console.log('Recieved player_created_notification')
	    addPlayer(msg)
    });

</script>
