{% macro timer(timer_duration, is_manager=False) %}
		<div class="timer">
			<div id="timerDisplay">--:--</div>
		</div>
		<script>
			let interval;

			let secs_remaining = {{timer_duration}};
			{% if is_manager %}
			checkTimerCookie() // will update secs_remaining immediately if cookie exists.
			{% endif %}


			function startTimer() {
				const timerDisplay = document.getElementById('timerDisplay');

				if (interval) {
					clearInterval(interval);
				}

				updateDisplay(timerDisplay);

				interval = setInterval(() => {
					{% if is_manager %}
					// this function is defined in manage_game.html
					// not defined here because it requires cookie functions
					setCookie("timer",secs_remaining-1)
					{% endif %}
					secs_remaining--;
					if (secs_remaining <= 0) {
						clearInterval(interval);
						secs_remaining = 0;
						timerAction();
						return;
					}
					updateDisplay(timerDisplay);
				}, 1000);
			}

			function updateDisplay(timerDisplay) {
				const minutes = Math.floor(secs_remaining / 60);
				const seconds = secs_remaining % 60;

				const formattedMinutes = minutes < 10 ? '0' + minutes : minutes;
				const formattedSeconds = seconds < 10 ? '0' + seconds : seconds;

				timerDisplay.textContent = `${formattedMinutes}:${formattedSeconds}`;
			}

		{% if is_manager %}
			function timerAction(){
				timerDisplay.textContent = '00:00';
			}
			// the manager timer starts on page load, but 
			// the player timer starts after it gets synced with the manager timer
			startTimer()
		{% else %}
			function timerAction(){
						timerDisplay.textContent = '00:00';
						disableForm(timeout=true); //disable form locally
			}

		{% endif %}
		</script>
{% endmacro %}
